.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 1;
    background: #000;
}
.jumbotron {
  height: 685px;
  position: relative;
}
.container {
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
    position: absolute;
}
video {
	position: absolute;
    left: 0%;
	z-index: 0;
    width: 100%;
}